  <!-- <div class="center hero-unit">
    <h1>Welcome to Flycode</h1>
    <%= render 'shared/search_org_form' %>
		<% if !signed_in? %>
		    <%= link_to "Sign up now!", signup_path,
		                                class: "btn btn-large btn-primary" %>
		<% end %>
  </div> -->



<div class="container-fluid">
  <%= render 'shared/search_org_form' %>
</div>
	<hr>
  <h1>Welcome to Flycode</h1>
	<hr>
  <%= render 'shared/about_teaser' %>
	<% if !signed_in? %>
	<div class="row">
		<div class="center">	
	    <%= link_to "Create an account now!", signup_path,
	                                class: "btn btn-large btn-primary" %>
		</div>
	</div>
	<% end %>
</div>
