  <!-- <div class="center hero-unit">
    <h1>Welcome to Flycode</h1>
    <%= render 'shared/search_org_form' %>
		<% if !signed_in? %>
		    <%= link_to "Sign up now!", signup_path,
		                                class: "btn btn-large btn-primary" %>
		<% end %>
  </div> -->



<div class="container-fluid">
    <h1>Welcome to Flycode</h1>
    <%= render 'shared/search_org_form' %>
</div>
<%=begin%>
<% if !signed_in? %>
    <%= link_to "Sign up now!", signup_path,
                                class: "btn btn-large btn-primary" %>
<% end %>
<%=end %>
