<% provide(:title, @user.name) %>
<div class="row">
  <!-- <aside class="span2">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%#= @user.name %>
      </h1>
    </section>
    <section>
      <%#= render 'shared/stats' %>
    </section>
  </aside> -->

<!-- span10 makes it fit -->
  <div class="span10">
      <section>
      <%= gravatar_for @user %>
      <%= @user.name %>
      </section>

      <section>
        <%= render 'shared/stats' %>
      </section>

      <h3>Profiles (<%= @user.profiles.count %>)</h3>
      <%= link_to "Create a profile", create_profile_path, :class => "movedown signup_button round"  %>
  </div>
  <div class="">
      <% if @user.profiles.any? %>
        <ol class="profiles">
            <%= render @profiles %>
        </ol>
        <%= will_paginate @profiles %>
      <% end %>
  </div>
</div>
