<% provide(:title, @user.name) %>
<div class="row">
  <!-- <aside class="span2">
    <section>
      <h1>
        <%#= gravatar_for @user %>
        <%#= @user.name %>
      </h1>
    </section>
    <section>
      <%#= render 'shared/stats' %>
    </section>
  </aside> -->

<!-- span10 makes it fit -->
  <div class="span10">
	    <section>
	    <%= gravatar_for @user %>
	    <%= @user.name %>
	    </section>

	    <section>
	      <%= render 'shared/stats' %>
	    </section>

      <h3>Profiles (<%= @user.organizations.count %>)</h3>
			<%= link_to "Create a profile", createorg_path, :class => "movedown signup_button round"  %>
  </div>
  <div class="">
      <% if @user.organizations.any? %>
	      <ol class="organizations">
	          <%= render @organizations %>
	      </ol>
        <%= will_paginate @organizations %>
      <% end %>
  </div>
</div>
