<div class="profile">
	<span class="span2 name">
		<%= link_to organization.name, organization %>
	</span>
	<span class="span4">
		<% if organization.facebook.present? %>	
			<%= link_to content_tag(:i,nil, :class=>"fa fa-facebook-square fa-4x"), organization.facebook, title: organization.facebook, rel: 'tooltip', relative: true, target: "_blank" %>
		<% end %>
			
		<% if organization.twitter.present? %>
			<%= link_to content_tag(:i,nil, :class=>"fa fa-twitter-square fa-4x"), organization.twitter, title: organization.twitter, rel: 'tooltip', relative: true, target: "_blank" %>
		<% end %>
			
		<% if organization.instagram.present? %>				
			<%= link_to content_tag(:i,nil, :class=>"fa fa-instagram fa-4x"), organization.instagram, title: organization.instagram, rel: 'tooltip', relative: true, target: "_blank" %>
		<% end %>
		
		<% if organization.linkedin.present? %>
			<%= link_to content_tag(:i,nil, :class=>"fa fa-linkedin-square fa-4x"), organization.linkedin, title: organization.linkedin, rel: 'tooltip', relative: true, target: "_blank" %>
		<% end %>
	
		<% if organization.googleplus.present? %>				
			<%= link_to content_tag(:i,nil, :class=>"fa fa-googleplus-square fa-4x"), organization.googleplus, title: organization.googleplus, rel: 'tooltip', relative: true, target: "_blank" %>
		<% end %>

		<% if organization.url.present? %>
			<%= link_to "Website", organization.url, title: organization.url, rel: 'tooltip', relative: true, target: "_blank" %>
		<% end %>

		<% if organization.join.present? %>
			<%= link_to "Join", organization.join, title: organization.join, rel: 'tooltip', relative: true, target: "_blank", class: "btn" %>
		<% end %>
		<% if organization.donate.present? %>
			<%= link_to "Donate", organization.donate, title: organization.donate, rel: 'tooltip', relative: true, target: "_blank", class: "btn donate" %>
		<% end %>
	</span>
	<span class="span2 name">
		<% if current_user?(organization.user) %>
      <%= link_to "Edit", edit_organization_path(organization), :class => "editlink btn btn-large btn-primary" %>
      <%= link_to "delete", "#", :class => "deletelink", :confirm => "Delete this profile?" %>
      <%#= link_to "delete", destroy_organization_path(organization), :class => "deletelink", :confirm => "Delete this profile?" %>
      <%#= link_to "delete", organization, method: :delete,
                          data: { confirm: "You sure?" } %>      
    <%#= link_to "delete", destroy_organization_path(organization), method: :delete,
                        data: { confirm: "Delete this profile?" } %>      
		<% end %>
	</span>

  <% end %>

</div>
