<div class="row">

  <div class="col-xs-8">
    <%#= link_to profile.name, profile %>
	<h3><%= profile.name %></h3>
  </div>
  <div class="col-xs-4 name">
    <!-- <%= link_to "View", profile %>	   -->
    <% if current_user?(profile.user) %>
      <%= link_to "Edit", edit_profile_path(profile), :class => "editlink btn btn-large btn-primary" %>
      <span style="display:block;margin-top:10px;"><%= link_to "Delete", profile_path(profile), method: :delete, data:{confirm: "Are you sure"}%></span>
	<% else %>
	<%= link_to "Copy this profile", copy_profile_path(:id => profile.id), :class => "editlink btn btn-large btn-primary", :style => "display:block; margin-top:10px;", data:{confirm: "Every time you save a profile it is saved to your account. You can save as many times your want and each time it will add another copy."} %>
    <% end %>
  </div>



  <div class="col-xs-6">
    <% if profile.facebook.present? %>  
      <%= link_to content_tag(:i, nil, :class=>"fa fa-facebook-square fa-5x"), profile.facebook, title: profile.facebook, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>
      
    <% if profile.twitter.present? %>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-twitter-square fa-5x"), profile.twitter, title: profile.twitter, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>
      
    <% if profile.instagram.present? %>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-instagram fa-5x"), profile.instagram, title: profile.instagram, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>
    
    <% if profile.linkedin.present? %>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-linkedin-square fa-5x"), profile.linkedin, title: profile.linkedin, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>
    <% if profile.audio.present? %>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-volume-up fa-5x"), profile.audio, title: profile.audio, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>

    <% if profile.video.present? %>
      <%= link_to content_tag(:i, nil, :class=>"fa fa-play-circle-o fa-5x"), profile.video, title: profile.video, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>
  
    <% if profile.googleplus.present? %>        
      <%= link_to content_tag(:i, nil, :class=>"fa fa-googleplus-square fa-5x"), profile.googleplus, title: profile.googleplus, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>

    <% if profile.tag_list.present? %>
      </br>
      <%= profile.tag_list.join(', ') %>
    <% end %>

    <% if profile.url.present? %>
      <br/><%= link_to profile.url, profile.url, title: profile.url, rel: 'tooltip', relative: true, target: "_blank" %>
    <% end %>

    <% if profile.join.present? %>
      <%= link_to "Join", profile.join, title: profile.join, rel: 'tooltip', relative: true, target: "_blank", class: "btn" %>
    <% end %>
    <% if profile.donate.present? %>
      <%= link_to "Donate", profile.donate, title: profile.donate, rel: 'tooltip', relative: true, target: "_blank", class: "btn donate" %>
    <% end %>
  </div>
</div>

<hr>
