<div class="row">
	<span class="span2">
	  <%= f.label :name %>
	</span>
	<span class="span4">
	  <%= f.text_field :name %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <i class='fa fa-facebook-square fa-4x'></i>
	</span>
	<span class="span4">
	  <%= f.label :facebook %>
	  <%= f.text_field :facebook %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <i class='fa fa-twitter-square fa-4x'></i>
	</span>
	<span class="span4">
	  <%= f.label :twitter %>
	  <%= f.text_field :twitter %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <i class='fa fa-instagram-square fa-4x'></i>
	</span>
	<span class="span4">
	  <%= f.label :instagram %>
	  <%= f.text_field :instagram %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <i class='fa fa-linkedin-square fa-4x'></i>
	</span>
	<span class="span4">
	  <%= f.label :linkedIn %>
	  <%= f.text_field :linkedin %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <i class='fa fa-google-plus-square fa-4x'></i>
	</span>
	<span class="span4">
	  <%= f.label :googleplus %>
	  <%= f.text_field :googleplus %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <%= f.label :address %>
	</span>
	<span class="span4">
	  <%= f.text_field :address %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <%= f.label :url %>
	</span>
	<span class="span4">
	  <%= f.text_field :url %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <%= f.label :join %>
	</span>
	<span class="span4">
	  <%= f.text_field :join %>
	</span>
</div>
<div class="row">
	<span class="span2">
	  <%= f.label :donate %>
	</span>
	<span class="span4">
	  <%= f.text_field :donate %>
	</span>
</div>

<div class="row">
	<span class="span2">
	  <%= f.label :related %>
	</span>
	<span class="span4">
	  <%= f.text_field :related %>
	</span>
</div>
